a {
    padding: 3px;
    font-weight: bold;
    text-decoration: none;
    color: #74bd79;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border: 1px solid #f6f6f6;
    border-color: rgba(0, 0, 0, .05);
    border-bottom-color: rgba(0, 0, 0, .08);
    white-space: nowrap;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .01));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .01));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .01));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .01));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .01));
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.no-rgba a { border: 1px solid #f1f1f1 }

a:hover {
    color: #77b2d4;
    background: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, .08);
    border-bottom-color: rgba(0, 0, 0, .13);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.no-rgba a:hover { border-color: #e9e9e9 }

a.active,