* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html{
    font-size: 62.5%;
}

header{
    background-image:url("../img/sakura2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:108rem;
    
    
}
@font-face{
    font-family:'lobster';
    src:url('../font/Lobster.ttf')
}

h1{
    color:black;
    font-family:lobster;
    font-size:10rem;
    margin:0;
    position: relative;
    top:25rem;
    letter-spacing:5px;
    width:100%;
    text-align:center;
}
.center{
    text-align:center;
}
.fix{
    position:fixed;
    text-align:center;
    
}
nav a {
    text-decoration:none ;
}

.nuit{
    background-image: url("../img/bantersnaps-Np1aN841iAU-unsplash.jpg");
    background-repeat: no-repeat;
    height:108rem;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
}
.nuit img{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:70px;
    width:700px;
    height:700px;
    margin-left:25px ;
    margin-top:25px;
}
.nuit h2{
    color:white;
    font-family:lobster ;
    font-size:10rem;
}

.rond img{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:70px;
    width:700px;
    height:700px;
}
.rond{
    background-image: url("../img/david-emrich-EJvGBYjrwEA-unsplash.jpg");
    background-repeat: no-repeat;
    height:108rem;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
   
}

.tayo img{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:70px;
    width:700px;
    height:700px;
    
}
.kaze img{
    float:right;
}
.clear {
    clear: both;
}

.fock{
    max-width: 80%;
    background-position: center;
    
}
.limite{
    background-image: url("../img/manga.jpg");
    background-size:cover;
   background-repeat: no-repeat;
   height:108rem;
    background-size:cover;
    background-position:center;
    background-attachment: fixed
  
}
.limite img{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:70px;
    width:700px;
    height:700px;
}
.music{
    background-image: url("../img/sora-sagano-8sOZJ8JF0S8-unsplash.jpg");
    background-repeat:no-repeat;
    height:108rem;
    background-size:cover;
    background-position:center;
    background-attachment: fixed
}
.tayo{
    background-image:url("../img/ivana-cajina-dQejX2ucPBs-unsplash.jpg") ;
   background-size:cover;
    background-repeat: no-repeat;
    height:108rem;
    background-size:cover;
    background-position:center;
    background-attachment: fixed
    
    
}

.voyage{
    text-align: center;
    background-color:red;
  
}

img{
    width: 20%;
}

.lofi video{
    width:70rem;
    text-align:center;
   
}
.music{
    text-align: right;
}
p{
    color:white;
    font-size:1.2em;
}



footer,.voyage{
    background-color:white;
}


/* Animation */

.box{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100rem;
    height: 45rem;
    text-align: center;
    background: rgba(0,0,0,0.3);
    color:white;
    line-height: 1.5rem;
    font-family:lobster ;
    font-weight: 100;
    padding: 3.5rem;
    display:flex;
    flex-flow:column;
    justify-content: center;
     opacity: 0;
    transition: all 0.4s linear;
}
.fade-in {
  opacity: 10;
}